*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;

}
.container{
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    /*background: linear-gradient(90deg,rgb(241, 155, 63),rgb(249, 231, 145));*/
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60px;
    padding: 20px 0;
}
.nav-left{
    font-weight: 800;
    
}
.navbar-item{
    display: flex;
    gap: 50px;

}
.nav-right{
    display: flex;
    gap: 30px;
}
.content{
    margin: 10rem;
    height:47.75vh;
}
.heading h6{
    font-size: 50px;
}
.heading p{
    font-weight: 400;
}
.shop{
    width: 900px;
    height: 600px;
    position: absolute;
    right: 20px;
    top: 129px;
    
}
.shop-btn{
    outline: none;
    border: none;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.7;
}
.shop-btn:hover{
    opacity:1;
}
.sale{
    height: 100vh;
    display: flex;
    position: relative;
    
    
}
.sale1{
    background: url(https://images.unsplash.com/photo-1618886614638-80e3c103d31a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fG1lbiUyMGZhc2hpb258ZW58MHx8MHx8fDA%3D);
    width: 33.33%;
    height: 100%;
    background-repeat: no-repeat;
    
}
.sale2{
    background: url(https://images.unsplash.com/photo-1616847220575-31b062a4cd05?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d29tZW4lMjBmYXNoaW9ufGVufDB8fDB8fHww);
    width: 33.33%;
    height: 100%;
    background-repeat: no-repeat;
    
}
.sale3{
    background: url(https://plus.unsplash.com/premium_photo-1658506787944-7939ed84aaf8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVuJTIwZmFzaGlvbnxlbnwwfHwwfHx8MA%3D%3D);
    width: 33.33%;
    height: 100%;
    background-repeat: no-repeat;
}
.sale-main h1{
    position: absolute;
    top: 30%;
    left: 300px;
    font-size: 80px;
    font-weight: 800;
    color: aliceblue;
}
.sale-main{
    position: relative;

}
.sale-main h2{
    position: absolute;
    top: 50%;
    left: 200px;
    width: 70%;
    font-size: 80px;
    font-weight: 800;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    opacity: 0.8;
    padding-left: 100px;
    
}
.shop-brand{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100PX;
    height: 100%;
}
.headbrand{
    font-size: 30px;
    margin-bottom: 50px;

}
.all-brand{
    display: flex;
    gap: 5px;
    overflow-x: scroll;
    width: 1300px;
    
}
.all-brand::-webkit-scrollbar{
    display: none;
}
.brand1{
    position: relative;
    
}

.brand1 a img{
    border-radius: 10px;
}
.brand1 p{
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: rgb(238, 226, 226);
    width: 200px;
    opacity: 0.9;
    font-size: 30px;
    border-radius: 10px;

}
.brand2{
    position: relative;
}
.brand2 a img{
    border-radius: 10px;
}
.brand2 p{
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: rgb(238, 226, 226);
    width: 200px;
    opacity: 0.9;
    font-size: 30px;
    border-radius: 10px;

}
.brand3{
    position: relative;
}
.brand3 a img{
    border-radius: 10px;
}
.brand3 p{
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: rgb(238, 226, 226);
    width: 200px;
    opacity: 0.9;
    font-size: 30px;
    border-radius: 10px;

}
.brand4{
    position: relative;
}
.brand4 a img{
    border-radius: 10px;
}
.brand4 p{
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: rgb(238, 226, 226);
    width: 200px;
    opacity: 0.9;
    font-size: 30px;
    border-radius: 10px;

}
.brand5{
    position: relative;
}
.brand5 a img{
    border-radius: 10px;
}
.brand5 p{
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: rgb(238, 226, 226);
    width: 200px;
    opacity: 0.9;
    font-size: 30px;
    border-radius: 10px;

}
.brand6{
    position: relative;
}
.brand6 a img{
    border-radius: 10px;
}
.brand6 p{
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: rgb(238, 226, 226);
    width: 200px;
    opacity: 0.9;
    font-size: 30px;
    border-radius: 10px;

}
.brand7{
    position: relative;
}
.brand7 a img{
    border-radius: 10px;
}
.brand7 p{
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: rgb(238, 226, 226);
    width: 200px;
    opacity: 0.9;
    font-size: 30px;
    border-radius: 10px;

}
.brand8{
    position: relative;
}
.brand8 a img{
    border-radius: 10px;
}
.brand8 p{
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: rgb(238, 226, 226);
    width: 200px;
    opacity: 0.9;
    font-size: 30px;
    border-radius: 10px;

}
.brand9{
    position: relative;
}
.brand9 a img{
    border-radius: 10px;
}
.brand9 p{
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: rgb(238, 226, 226);
    width: 200px;
    opacity: 0.9;
    font-size: 30px;
    border-radius: 10px;

}
.brand10{
    position: relative;
}
.brand10 a img{
    border-radius: 10px;
}
.brand10 p{
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: rgb(238, 226, 226);
    width: 200px;
    opacity: 0.9;
    font-size: 30px;
    border-radius: 10px;

}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.shop-product{
    margin: 50px 100px;
    padding:20px;
    height: 100%;
    
}
.head-product{
    font-size: 30px;
    margin-bottom: 50px;
}
.shop-items{
    width: 1300px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.shop-item10 p{
    width: 235px;

}
.stars a{
color: gold;
margin-right: 2px;

}
.cart-price{
    display: flex;
    justify-content: space-between;
}
.viewcon{
    text-align: center;
    margin-top: 50px;
}
.viewbtn{
    display:inline-block;
    background: transparent;
    color: black;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid black;
    padding: 10px 32px;
    transition: all .6s;
    border-radius: 30px;
}
.viewbtn:hover{
    background: black;
    border: 1px solid black;
    color: white;
    transform: scale(0.9) translateY(-6px);
    
}
.feature{
    padding: 10px 10% 50px;
}
.feature-content{
    display: flex;
    gap: 40px;
    
}
.box{
    padding: 15px 15px 15px 30px;
    border-left: 4px solid black;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 10px;
    justify-content: center;
    transition: all .6s;
}
.f-icon{
    font-size: 20px;
}
.f-text h3{
    font-weight: 700;
}
.f-text p{
    font-weight: 300;
}
.box:hover{
    transform: scale(0.9) translateY(-4px);
}
hr{
    margin-bottom: 50px;
}
.lpage{
    background: rgb(255, 250, 238);
    padding: 50px 10px 10px 80px;

}
.lpage-content{
    display: flex;
    gap: 400px;
}
.lpage1{
    display: flex;
    flex-direction: column;
    
}
.lpage1 h3{
    font-size: 15px;
}
.lpage1 a{
    font-size: 13px;
}
.follow a{
    font-size: 20px;
   padding: 10px;

}
.lpage1 h3{
    margin-bottom: 15px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(5, 5, 5);
    background: beige;
    padding: 5px;
}