*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;

}
.container{
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    /*background: linear-gradient(90deg,rgb(241, 155, 63),rgb(249, 231, 145));*/
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60px;
    padding: 20px 0;
}
.nav-left{
    font-weight: 800;
    
}
.navbar-item{
    display: flex;
    gap: 50px;

}
.nav-right{
    display: flex;
    gap: 30px;
}
.content{
    margin: 10rem;
    height:47.75vh;
}
.heading h6{
    font-size: 50px;
}
.heading p{
    font-weight: 400;
}
.shop{
    width: 800px;
    height: 600px;
    position: absolute;
    right: 20px;
    top: 129px;
    
}
.shop-btn{
    outline: none;
    border: none;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.7;
}
.shop-btn:hover{
    opacity:1;
}
.sale{
    height: 100vh;
    display: flex;
    
    
}
.sale1{
    background: url(https://images.unsplash.com/photo-1618886614638-80e3c103d31a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fG1lbiUyMGZhc2hpb258ZW58MHx8MHx8fDA%3D);
    width: 33.33%;
    height: 100%;
    background-repeat: no-repeat;
    
}
.sale2{
    background: url(https://images.unsplash.com/photo-1616847220575-31b062a4cd05?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d29tZW4lMjBmYXNoaW9ufGVufDB8fDB8fHww);
    width: 33.33%;
    height: 100%;
    background-repeat: no-repeat;
    
}
.sale3{
    background: url(https://plus.unsplash.com/premium_photo-1658506787944-7939ed84aaf8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVuJTIwZmFzaGlvbnxlbnwwfHwwfHx8MA%3D%3D);
    width: 33.33%;
    height: 100%;
    background-repeat: no-repeat;
}
.sale-main h1{
    position: absolute;
    top: 0%;
}